{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
  <p>下記からzipファイルをダウンロードして、README.pdfを参照してください。</p>
  
  <h1>リリース版</h1>
  <div class="download-link"></div>
  <h2>Mac</h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Version</th>
        <th>ダウンロード</th>
      </tr>
    </thead>
    <tbody>
     
      <tr>
        <td>1.0</td>
        <td><a href="{% static 'downloads/20240914_release.zip' %}" download>
          <img src="{% static 'img/download_icon.png' %}" alt="Download Icon" /></a></td>
      </tr>
    </tbody>
  </table>
  <h1>ベータ版</h1>
  <h2>Mac</h2>
  
    <table class="styled-table">
      <thead>
        <tr>
          <th>Version</th>
          <th>ダウンロード</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>β02</td>
          <td><a href="{% static 'downloads/meruopetyan69010.zip' %}" download>
            <img src="{% static 'img/download_icon.png' %}" alt="Download Icon" /></a></td>
        </tr>
        <tr>
          <td>β</td>
          <td><a href="{% static 'downloads/meruopetyan.zip' %}" download>
            <img src="{% static 'img/download_icon.png' %}" alt="Download Icon" /></a></td>
        </tr>
        
      </tbody>
    </table>
  
  </div>
</div>
  
<link href="{% static 'css/index.css' %}" rel="stylesheet" />

{% include "footer.html" %}
{% endblock %}