{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
  <h2>利用規約</h2>

  <h4>第1条（利用申込み）</h4>
  <p>
    本サービスを利用するためには、本規約に同意した上で、指定の方法で申込みを行ってください。
    申込みを行うことで、ご利用者様は本規約に同意したものとみなされます。
    当サイトが申込みを受け入れない場合もあり、その理由は開示されません。
  </p>

  <h4>第2条（契約の成立）</h4>
  <p>
    利用契約は、ご利用者様が申込みを行い、当サイトがこれを承諾した時点で成立します。
  </p>

  <h4>第3条（禁止事項）</h4>
  <p>ご利用者様は、以下の行為を行ってはなりません。</p>
  <ul>
    <li>法令や公序良俗に反する行為</li>
    <li>犯罪行為に関連する行為</li>
    <li>サービス運営の妨害</li>
    <li>他者の権利や財産を侵害する行為</li>
    <li>不正アクセスやウイルス送信</li>
    <li>無限連鎖講（ネズミ講）を開設、またはその勧誘を行う行為</li>
    <li>本サービスの運営を妨害したり、信頼を損なう行為</li>
    <li>他者に迷惑をかける行為</li>
    <li>本サービスが管理するサーバーにコンピュータウイルス等の有害なプログラムを送信する行為</li>
  </ul>

  <h4>第4条（サービス提供の停止）</h4>
  <p>
    ご利用者様が本規約に違反した場合、事前の通知なくサービスの提供を停止することができます。
  </p>

  <h4>第5条（免責事項）</h4>
  <p>
    本サービスに関連して生じた損害について、一切の責任を負いません。
  </p>

  <h4>第6条（サービス提供の中断）</h4>
  <p>
    以下の状況において、ご利用者様に事前の通知を行うことなく、本サービスの一部または全部を一時的に中断することができます。
  </p>
  <ul>
    <li>緊急のメンテナンスや不具合の修正が必要な場合</li>
    <li>天災や災害、停電等、不可抗力によるサービス提供が困難となった場合</li>
    <li>通信事業者のサービス停止により、本サービスの利用ができなくなった場合</li>
    <li>その他、必要と判断した場合</li>
  </ul>

  <p>
    当サイトは、サービス内容に対する一切の保証を行わず、それに起因する損害についても一切の責任を負いません。
    また、お客様が故意または過失により当サイトに損害を与えた場合、その損害を賠償する責任を負うものとします。
  </p>

  <h4>返金について</h4>
  <p>
    いかなる場合も返金や保証は行いません。サイトのレイアウト変更や機能追加による動作不良が発生しても、保証の対象とはなりません。
  </p>

  <h4>第7条（サービス提供の終了）</h4>
  <p>
    やむを得ない事情により、本サービスの提供を終了する場合があります。その場合、サービス終了の一定期間前に、Webサイトまたは適切な方法でご利用者様に通知します。サービスの終了に起因してご利用者様に発生した損害について、責任を負いません。
  </p>

  <h4>第8条（個人情報の保護）</h4>
  <p>
    本サービスの提供を通じて取得したご利用者様の個人情報を、適用される法令およびプライバシーポリシーに従い、適切に管理・保護します。
  </p>

  <h4>第9条（規約の変更）</h4>
  <p>
    当サイトは、本規約を必要に応じて変更することができます。規約の変更が行われた場合、当サイトはその施行日と変更内容をWebサイトやその他の方法で通知します。法的にご利用者様の同意が必要となる変更については、事前に同意を得るものとします。
  </p>
</div>
    
    
</div>
  
<link href="{% static 'css/index.css' %}" rel="stylesheet" />

{% include "footer.html" %}
{% endblock %}